# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=1.4.0=pypi_0
aiodns=3.0.0=pypi_0
aiohttp=3.8.3=pypi_0
aiosignal=1.2.0=pypi_0
alpha-vantage=2.3.1=pypi_0
altair=4.2.2=pypi_0
ansiwrap=0.8.4=pypi_0
anyio=3.6.2=pypi_0
appdirs=1.4.4=pypi_0
appnope=0.1.3=pyhd8ed1ab_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
ascii-magic=1.6=pypi_0
asn1crypto=1.5.1=pypi_0
astor=0.8.1=pypi_0
asttokens=2.2.1=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
async-timeout=4.0.2=pypi_0
attrs=22.1.0=pypi_0
babel=2.11.0=pypi_0
backcall=0.2.0=pyh9f0ad1d_0
backoff=2.2.1=pypi_0
backports=1.0=pyhd8ed1ab_3
backports.functools_lru_cache=1.6.4=pyhd8ed1ab_0
base58=2.1.1=pypi_0
beautifulsoup4=4.11.2=pypi_0
bitarray=2.6.0=pypi_0
black=22.10.0=pypi_0
blas=2.116=openblas
blas-devel=3.9.0=16_osxarm64_openblas
bleach=6.0.0=pypi_0
blinker=1.5=pypi_0
bottleneck=1.3.5=py310h96f19d2_0
bs4=0.0.1=pypi_0
bt=0.2.9=pypi_0
bzip2=1.0.8=h620ffc9_4
c-ares=1.18.1=h1a28f6b_0
ca-certificates=2023.05.30=hca03da5_0
cachetools=5.3.0=pypi_0
ccxt=2.7.29=pypi_0
certifi=2022.9.24=pypi_0
cffi=1.15.1=pypi_0
charset-normalizer=2.1.1=pypi_0
click=8.1.3=pypi_0
coincurve=18.0.0=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
comm=0.1.3=pypi_0
commonmark=0.9.1=pypi_0
contourpy=1.0.7=pypi_0
convertdate=2.4.0=pypi_0
cryptography=39.0.0=pypi_0
cssselect=1.2.0=pypi_0
cycler=0.11.0=pypi_0
cython=0.29.33=pypi_0
cytoolz=0.12.0=pypi_0
dataclassy=0.11.1=pypi_0
dateparser=1.1.7=pypi_0
datetime=5.0=pypi_0
debugpy=1.6.6=pypi_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
degiro-connector=2.0.21=pypi_0
deprecated=1.2.13=pypi_0
detecta=0.0.5=pypi_0
dnspython=2.3.0=pypi_0
eciespy=0.3.11=pypi_0
eip712=0.1.0=pypi_0
enforce-typing=1.0.0.post1=pypi_0
entrypoints=0.4=pypi_0
et-xmlfile=1.1.0=pypi_0
eth-abi=2.2.0=pypi_0
eth-account=0.5.9=pypi_0
eth-brownie=1.19.3=pypi_0
eth-event=1.2.3=pypi_0
eth-hash=0.3.3=pypi_0
eth-keyfile=0.5.1=pypi_0
eth-keys=0.3.4=pypi_0
eth-rlp=0.2.1=pypi_0
eth-typing=2.3.0=pypi_0
eth-utils=1.10.0=pypi_0
exchange-calendars=4.2.5=pypi_0
execnet=1.9.0=pypi_0
executing=1.2.0=pyhd8ed1ab_0
fastjsonschema=2.16.2=pypi_0
feedparser=6.0.10=pypi_0
ffn=0.3.6=pypi_0
fftw=3.3.9=h1a28f6b_1
financedatabase=1.0.2=pypi_0
finnhub-python=2.4.16=pypi_0
finviz=1.4.4=pypi_0
finvizfinance=0.14.5=pypi_0
flake8=6.0.0=pypi_0
flatbuffers=23.3.3=pypi_0
fonttools=4.38.0=pypi_0
formulaic=0.3.4=pypi_0
fred=3.1=pypi_0
fredapi=0.4.3=pypi_0
frozendict=2.3.4=pypi_0
frozenlist=1.3.1=pypi_0
fundamentalanalysis=0.2.14=pypi_0
future=0.18.3=pypi_0
gast=0.4.0=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.30=pypi_0
google-auth=2.16.0=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
google-pasta=0.2.0=pypi_0
grpcio=1.51.1=pypi_0
h5py=3.6.0=py310h181c318_0
hdf5=1.12.1=h160e8cb_2
hexbytes=0.2.3=pypi_0
hijri-converter=2.2.4=pypi_0
holidays=0.14.2=pypi_0
html5lib=1.1=pypi_0
humanfriendly=10.0=pypi_0
hypothesis=6.27.3=pypi_0
idna=3.4=pypi_0
importlib-metadata=6.0.0=pyha770c72_0
importlib_metadata=6.0.0=hd8ed1ab_0
inflection=0.5.0=pypi_0
iniconfig=1.1.1=pypi_0
interface-meta=1.3.0=pypi_0
intrinio-sdk=6.22.2=pypi_0
ipfshttpclient=0.8.0a2=pypi_0
ipyflex=0.2.6=pypi_0
ipykernel=6.21.0=pypi_0
ipympl=0.8.4=pypi_0
ipython=8.12.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=8.0.4=pypi_0
iso8601=0.1.16=pypi_0
isodate=0.6.1=pypi_0
jax=0.4.8=pypi_0
jedi=0.18.2=pyhd8ed1ab_0
jinja2=3.1.2=pypi_0
joblib=1.1.1=py310hca03da5_0
json-sempai=0.4.0=pypi_0
json5=0.9.11=pypi_0
jsonschema=3.2.0=pypi_0
jupyter-client=8.1.0=pypi_0
jupyter-core=5.3.0=pypi_0
jupyter-server=1.23.5=pypi_0
jupyterlab=3.5.3=pypi_0
jupyterlab-pygments=0.2.2=pypi_0
jupyterlab-server=2.16.6=pypi_0
jupyterlab-widgets=3.0.5=pypi_0
keras=2.12.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.4.4=pypi_0
korean-lunar-calendar=0.3.1=pypi_0
krb5=1.19.4=h8380606_0
lazy-object-proxy=1.7.1=pypi_0
libblas=3.9.0=16_osxarm64_openblas
libcblas=3.9.0=16_osxarm64_openblas
libclang=15.0.6.1=pypi_0
libcurl=7.87.0=h0f1d93c_0
libcxx=14.0.6=h848a8c0_0
libedit=3.1.20221030=h80987f9_0
libev=4.33=h1a28f6b_1
libffi=3.4.2=hca03da5_6
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
liblapack=3.9.0=16_osxarm64_openblas
liblapacke=3.9.0=16_osxarm64_openblas
libnghttp2=1.46.0=h95c9599_0
libopenblas=0.3.21=openmp_hc731615_3
libsodium=1.0.18=h27ca646_1
libssh2=1.10.0=hf27765b_0
linearmodels=4.27=pypi_0
llvm-openmp=14.0.6=hc6e5704_0
loguru=0.6.0=pypi_0
lru-dict=1.1.8=pypi_0
lxml=4.9.2=pypi_0
markdown=3.4.1=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.6.3=pypi_0
matplotlib-inline=0.1.6=pyhd8ed1ab_0
mccabe=0.7.0=pypi_0
mistune=2.0.5=pypi_0
ml-dtypes=0.0.4=pypi_0
more-itertools=9.0.0=pypi_0
mplfinance=0.12.9b7=pypi_0
mstarpy=0.0.4=pypi_0
multiaddr=0.0.9=pypi_0
multidict=6.0.2=pypi_0
multitasking=0.0.11=pypi_0
mypy-extensions=0.4.3=pypi_0
mythx-models=1.9.1=pypi_0
nbclassic=0.5.1=pypi_0
nbclient=0.7.2=pypi_0
nbconvert=7.2.9=pypi_0
nbformat=5.7.3=pypi_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.5.6=pyhd8ed1ab_0
netaddr=0.8.0=pypi_0
nltk=3.4.4=py_0
notebook=6.5.2=pypi_0
notebook-shim=0.2.2=pypi_0
numexpr=2.8.4=py310hecc3335_0
numpy=1.23.4=pypi_0
numpy-base=1.22.3=py310h5e3e9f0_0
oandapyv20=0.6.3=pypi_0
oauthlib=3.2.2=pypi_0
ocean-contracts=1.1.12=pypi_0
ocean-lib=2.2.0=pypi_0
onetimepass=1.0.1=pypi_0
openbb=2.4.0=pypi_0
openblas=0.3.21=openmp_hf78f355_3
openpyxl=3.1.1=pypi_0
openssl=1.1.1t=h1a28f6b_0
opt-einsum=3.3.0=pypi_0
packaging=23.0=pyhd8ed1ab_0
pandas=1.5.2=py310h46d7db6_0
pandas-datareader=0.10.0=pypi_0
pandas-market-calendars=3.2=pypi_0
pandas-ta=0.3.14b0=pypi_0
pandocfilters=1.5.0=pypi_0
papermill=2.4.0=pypi_0
parsimonious=0.8.1=pypi_0
parso=0.8.3=pyhd8ed1ab_0
pathspec=0.10.1=pypi_0
patsy=0.5.3=pypi_0
pexpect=4.8.0=pyh1a96a4e_2
pickleshare=0.7.5=py_1003
pillow=9.4.0=pypi_0
pip=22.3.1=py310hca03da5_0
platformdirs=3.2.0=pypi_0
plotly=5.13.0=pypi_0
pluggy=1.0.0=pypi_0
praw=7.6.1=pypi_0
prawcore=2.3.0=pypi_0
prometheus-client=0.16.0=pypi_0
prompt-toolkit=3.0.38=pypi_0
property-cached=1.6.4=pypi_0
protobuf=4.22.1=pypi_0
psaw=0.0.12=pypi_0
psutil=5.9.4=pypi_0
ptyprocess=0.7.0=pyhd3deb0d_0
pure_eval=0.2.2=pyhd8ed1ab_0
py=1.11.0=pypi_0
py-solc-ast=1.2.9=pypi_0
py-solc-x=1.1.1=pypi_0
pyally=1.1.2=pypi_0
pyarrow=11.0.0=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycares=4.3.0=pypi_0
pycodestyle=2.10.0=pypi_0
pycoingecko=2.3.0=pypi_0
pycparser=2.21=pypi_0
pycryptodome=3.15.0=pypi_0
pycryptodomex=3.17=pypi_0
pydeck=0.8.0=pypi_0
pyflakes=3.0.1=pypi_0
pygments=2.14.0=pyhd8ed1ab_0
pygments-lexer-solidity=0.7.0=pypi_0
pyhdfe=0.1.2=pypi_0
pyjwt=1.7.1=pypi_0
pyluach=2.1.0=pypi_0
pymeeus=0.5.12=pypi_0
pympler=1.0.1=pypi_0
pyobjc-core=9.0.1=pypi_0
pyobjc-framework-cocoa=9.0.1=pypi_0
pyopenssl=23.0.0=pypi_0
pyotp=2.8.0=pypi_0
pyparsing=3.0.9=pypi_0
pyprind=2.11.3=pypi_0
pyrsistent=0.18.1=pypi_0
pytest=6.2.5=pypi_0
pytest-forked=1.4.0=pypi_0
pytest-xdist=1.34.0=pypi_0
pythclient=0.1.4=pypi_0
python=3.10.4=hbdb9e5c_0
python-binance=1.0.16=pypi_0
python-coinmarketcap=0.2=pypi_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python-dotenv=0.16.0=pypi_0
python-i18n=0.3.9=pypi_0
pythx=1.6.1=pypi_0
pytrends=4.9.0=pypi_0
pytz=2022.7=py310hca03da5_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pyyaml=5.4.1=pypi_0
pyzmq=25.0.2=pypi_0
quandl=3.7.0=pypi_0
rapidfuzz=2.13.7=pypi_0
rdflib=6.2.0=pypi_0
readline=8.2=h1a28f6b_0
regex=2022.10.31=pypi_0
requests=2.28.1=pypi_0
requests-oauthlib=1.3.1=pypi_0
retrying=1.3.4=pypi_0
rich=12.6.0=pypi_0
rlp=2.0.1=pypi_0
robin-stocks=2.1.0=pypi_0
rsa=4.9=pypi_0
ruamel-yaml=0.17.21=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
scikit-learn=1.2.0=py310h313beb8_0
scipy=1.9.3=py310h20cbe94_0
screeninfo=0.6.7=pypi_0
seaborn=0.11.2=pypi_0
semantic-version=2.10.0=pypi_0
semver=2.13.0=pypi_0
send2trash=1.8.0=pypi_0
setuptools=65.4.1=pypi_0
setuptools-scm=6.4.2=pypi_0
sgmllib3k=1.0.0=pypi_0
six=1.16.0=pyhd3eb1b0_1
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sparqlwrapper=2.0.0=pypi_0
sqlite=3.40.1=h7a7dc30_0
squarify=0.4.3=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
statsmodels=0.13.5=pypi_0
stocksera=0.1.21=pypi_0
streamlit=1.18.1=pypi_0
ta=0.10.2=pypi_0
tabulate=0.9.0=pypi_0
tenacity=7.0.0=pypi_0
tensorboard=2.12.1=pypi_0
tensorboard-data-server=0.7.0=pypi_0
tensorboard-plugin-wit=1.8.1=pypi_0
tensorflow-deps=2.9.0=0
tensorflow-estimator=2.12.0=pypi_0
tensorflow-macos=2.12.0=pypi_0
tensorflow-metal=0.8.0=pypi_0
termcolor=2.2.0=pypi_0
terminado=0.17.1=pypi_0
textblob=0.15.3=py_0
textwrap3=0.9.2=pypi_0
thepassiveinvestor=1.1.2=pypi_0
threadpoolctl=2.2.0=pyh0d69192_0
tinycss2=1.2.1=pypi_0
tk=8.6.12=hb8d0fd4_0
tokenterminal=1.0.1=pypi_0
toml=0.10.2=pypi_0
tomli=2.0.1=pypi_0
toolz=0.12.0=pypi_0
tornado=6.2=py310h1a28f6b_0
tqdm=4.64.1=pypi_0
tradingview-ta=3.3.0=pypi_0
traitlets=5.9.0=pyhd8ed1ab_0
typing-extensions=4.4.0=hd8ed1ab_0
typing_extensions=4.4.0=pyha770c72_0
tzdata=2022.7=pypi_0
tzlocal=4.2=pypi_0
ujson=5.7.0=pypi_0
update-checker=0.18.0=pypi_0
urllib3=1.26.12=pypi_0
user-agent=0.1.10=pypi_0
vadersentiment=3.3.2=pypi_0
validators=0.20.0=pypi_0
valinvest=0.0.2=pypi_0
varint=1.0.2=pypi_0
voila=0.4.0=pypi_0
vvm=0.1.0=pypi_0
vyper=0.3.7=pypi_0
watchdog=2.2.1=pypi_0
wcwidth=0.2.6=pyhd8ed1ab_0
web3=5.31.3=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.5.1=pypi_0
websockets=9.1=pypi_0
werkzeug=2.2.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
widgetsnbextension=4.0.5=pypi_0
wrapt=1.14.1=pypi_0
xz=5.2.10=h80987f9_1
y-py=0.5.4=pypi_0
yarl=1.8.1=pypi_0
yfinance=0.2.10=pypi_0
zeromq=4.3.4=hbdafb3b_1
zipp=3.12.0=pyhd8ed1ab_0
zlib=1.2.13=h5a0b063_0
zope-interface=5.5.2=pypi_0
